<div class=" d-none d-md-block">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-secondary text-white">
    <a href="/" class="d-flex align-items-center gap-2 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-3 fw-bolder text-white">Movies Buff</span>
      <span>
        <img src="../../assets/img/title-img.png" alt="Logo" class="img-fluid rounded-circle" width="40" height="32">
      </span>
    </a>

    <ul class="nav nav-pills ">
      <li class="nav-item"><a href="#" class="nav-link text-white" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#aboutUsModal">About Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#disclaimerModal">Disclaimer</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" (click)="shareNative()">Share</a></li>
    </ul>
  </header>
</div>

<div class=" d-xs-block d-md-none">
  <nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Movies Buff</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbar-sm" aria-controls="navbar-sm" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar-sm" >
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item"><a href="#" class="nav-link text-white" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#aboutUsModal">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#disclaimerModal">Disclaimer</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" (click)="shareNative()">Share</a></li>
      </ul>
      </div>
    </div>
  </nav>
</div>

<!-- About Us Modal -->

<div class="modal modal-lg fade" id="aboutUsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">About Us</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Welcome - Movies Buff is your ultimate movie recommendation destination! Our mission is to bring movie lovers
          together and help you discover your next favorite film.
          Whether you're in the mood for a heartwarming drama, an action-packed thriller, or a classic comedy, we've got
          you covered. Our team is passionate about films
          and works tirelessly to bring you the best movie recommendations tailored to your preferences.</p>

        <p>We know that finding the perfect movie can be a daunting task with so many options available, which is why we
          created this platform to make the decision process
          easier for you. Our recommendations are based on the latest films, genres, and user feedback, so you can
          always find something new and exciting to watch!</p>

        <p>We hope to be your go-to movie guide.</p>
      </div>
      <div class="modal-footer">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2025 Movies Buff. All rights reserved.
          <br>
          All movie titles, images, and trailers belong to their respective owners. We do not host or upload any videos.
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Disclaimer Modal -->

<div class="modal modal-lg fade" id="disclaimerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Disclaimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Content:</b> The content and recommendations provided by Movies Buff are for informational purposes only. We strive to provide accurate and up-to-date information about movies, but we make no guarantees about the completeness or accuracy of the data presented.</p>

        <p><b>Accuracy of Movie Suggestions:</b> While we make every effort to recommend the best movies, individual preferences vary, and the recommendations may not always match your taste. Viewer discretion is advised when following our suggestions.</p>

        <p><b>External Links:</b> Our website may contain links to third-party sites. We are not responsible for the content, privacy practices, or services of any external websites.</p>

        <p>By using our website, you agree to our terms and conditions and acknowledge the limitations described in this disclaimer.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Privacy Policy Modal -->

<div class="modal modal-lg" id="privacyPolicyModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Privacy Policy / Terms & Conditions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>At Movies Buff, we deeply respect your privacy. We are committed to protecting it and being fully transparent about how your information is handled.</p>

        <p><b>Information Collection:</b> <br></p>
          <ul>
            <li>We do not collect, store, or share any personal information from our visitors.</li>
            <li>We do not track, save, or monitor your browsing activities on our website.</li>
            <li>We do not require account creation, email sign-up, or any form of personal data submission to access our services.</li>
          </ul>
    
        <p><b>Policy Updates:</b> We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated revision date.</p>

        <p>By using our website, you agree to our terms and conditions and acknowledge the limitations described in this disclaimer.</p>

        <p><b>Terms & Conditions</b></p>

        <p><b>Content:</b> Welcome to Movies Buff! These Terms and Conditions govern your use of our website, including our movie recommendation services, features, and content. By accessing or using Movies Buff, you agree to comply with these terms.</p>

        <p><b>Acceptance of Terms:</b> By using this site, you agree to be bound by these Terms and Conditions. If you do not agree, please refrain from using our services.</p>

        <p><b>Intellectual Property:</b> All content on Movies Buff, including text, graphics, logos, images, and videos, is owned by Movies Buff or its content providers and is protected by copyright law.</p>

        <p><b>User Conduct: You agree not to:</b></p>
        <ul>
          <li>Use the site for any unlawful purpose.</li>
          <li>Post or transmit any content that is harmful, threatening, abusive, or otherwise objectionable.</li>
          <li>Attempt to gain unauthorized access to any part of the site or its systems.</li>
          <li>Interfere with or disrupt the operation of the site or its servers.</li>  
        </ul>

        <p><b>Limitation of Liability:</b> Movies Buff is not liable for any direct, indirect, incidental, or consequential damages arising from your use of the site.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>